@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Kanit:ital,wght@1,300&family=Wallpoet&display=swap');

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #D4AC0D;
    background-repeat: no-repeat;
    background-size: cover;
}


/* HEADER */
header {
    background-color:black;
}
.sportmania {
    font-family: 'Wallpoet', cursive;
    color: #D4AC0D;
    font-size: 2.5em;
}
header nav a {
    text-decoration: none;
}
.logo {
    width: 12em;
    height: 10em;
    display: flex;
    order: -1;
    margin-right: -2em;
    margin-left: -2em;
}
header nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
}
header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -4em;
    margin-right: 1em;
}

header nav ul li a {
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    margin: 1em;
    color: #D4AC0D;
    font-size: 1.2em;
    transform: scale(1,1);
    transition: transform 1ms;
}
/* ANIMACIONES HEADER */
header nav ul li a:hover {
    transform: scale(1.1,1.1);
}

/* BIENVENIDA */
.bannerMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: bannerMain;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes bannerMain {
    0%, 30% {
        background-image: url(../assets/img/futbolBanner2.jpg);
    }
    35%, 65% {
        background-image: url(../assets/img/padelBanner1.jpg);
    }
    70%, 100% {
        background-image: url(../assets/img/gymBanner3.jpg);
    }
}
.bannerMain h2 {
    font-family: 'Kanit', sans-serif;
    color: white;
    background: linear-gradient(rgba(255,255,255,0.1),rgba(0,0,0, 0.3));
}
.bannerMain p {
    font-family: 'Kanit', sans-serif;
    color: white;
    padding-left: 10em;
    padding-right: 10em;
    text-align: center;
    background: linear-gradient(rgba(255,255,255,0.1),rgba(0,0,0, 0.3));
}

/* NOVEDADES */
.novedades {
    margin: 1em;
}
.carousel h2 {
    font-family: 'Kanit', sans-serif;
    color: #D4AC0D;
    font-size: 2.5em;
    margin: 1em;
    display: flex;
    justify-content: center;
    background-color:black;
}
.carousel-inner {
    width: 90%;
    height: 700px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    box-shadow: 5px 8px 12px black;
}
.carousel-item {
    width: 100%;
    height: 100%;
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-item p {
    width: 100%;
    margin: 0;;
    font-family: 'Kanit', sans-serif;
    font-size: 1.8em;
    text-align: center;
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0, 1));
}

/* QUIENES SOMOS */
.nosotros {
    margin: 2em;
    margin-top: 5em;
}
.tituloQuienesSomos {
    font-family: 'Kanit', sans-serif;
    color: #D4AC0D;
    font-size: 3em;
    margin: 1em;
    display: flex;
    justify-content: center;
    background-color:black;
}
.parrafoQuienesSomos {
    font-family: 'Kanit', sans-serif;
    font-size: 2em;
}

/* NUESTRAS ACTIVIDADES */
.actividades {
    margin: 1em;
}
.tituloNuestrasActividades {
    font-family: 'Kanit', sans-serif;
    color: #D4AC0D;
    font-size: 3em;
    margin: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: black;
}
.articulosHome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.titulosActividadesHome {
    font-family: 'Kanit', sans-serif;
    font-size: 1.5em;
    color: black;
}
.parrafoActividadesHome {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2em;
    color: black;
}
.cardsArticles {
    background-color:#F7DC6F;
    border-style: dotted;
    border-color: black;
    border-width: 0.1em;
    border-radius: 1em;
    padding: 2em;
    margin: 2em;
    box-shadow: 5px 8px 12px black;
    
}
.botonVerMas {
    display: flex;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    font-size: 1.5em;
    color:#D4AC0D;
    margin-top: 1em;
    text-decoration: none;
    transform: scale(1,1);
}
.botonVerMas:hover {
    transform: scale(1.2,1.2);
}
/* PUBLICIDAD */
.publicidad {
    margin-top: 10em;
    margin-bottom: 4em;
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.publicidad article {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 5px 8px 12px black;
    cursor: pointer;
}
.publicidad article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.publicidad article div {
    font-family: 'Kanit', sans-serif;
    font-size: 2em;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    top: 0;
}
.publicidad article div p{
    opacity: 0;
    visibility: hidden;
    text-align: center;
    background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0, 1));
    margin-top: 0;
    transition: all 500ms ease-out;
}
.publicidad article:hover > div p {
    opacity: 1;
    visibility: visible;
    margin-top: 5em;
    margin-bottom: 5em;
}

/* FOOTER */
#footer {
    background-color:black;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;
}
.rrss {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.redesIconos {
    margin: 1em;
    color: #D4AC0D;
    transform: scale(1,1);
}
.redesIconos:hover {
    transform: scale(1.2,1.2);
}
.parrafoFooter {
    font-family: 'Kanit', sans-serif;
    color: #D4AC0D;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.enlaces {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: 'Kanit', sans-serif;
    transform: scale(1,1);
}
footer div a {
    text-decoration: none;
    color: #D4AC0D;
    font-size: 1.2em;
    transform: scale(1,1);
}
footer div a:hover {
    transform: scale(1.1,1.2);
}
/*GRID HOME*/
.gridContenedor {
    display: grid;
    grid-gap: 1em;
}
.head {
    grid-area: head;
}
.main {
    grid-area: main;
}
.nosotros {
    grid-area: nosotros;
}
.carousel {
    grid-area: novedades;
}
.actividades {
    grid-area: actividades;
}
.publicidad {
    grid-area: publicidad;
}
.pie {
    grid-area: pie;
}
    /* MEDIA QUERIES MOBILE FIRST */
@media (min-width: 576px){
    .head ul li a {
        font-size: 1em;
    }
    .bannerMain h2 {
        font-size: 1.5em;
    }
    .bannerMain p{
        font-size: 1em;
    }
    .nosotros {
        font-size: 0.8em;
    }
    .rrss {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -1.3em;
    }
    .parrafoFooter {
        font-size: 1em;
        text-align: center;
    }
    .enlaces {
        font-size: 0.8em;
    }
    .gridContenedor {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "head"
            "main"
            "nosotros"
            "novedades"
            "actividades"
            "publicidad"
            "pie";
    }
}
@media (min-width: 768px) and (max-width: 1199px){
    .parrafoFooter {
        font-family: 'Kanit', sans-serif;
        color: #D4AC0D;
        font-size: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer div a {
        text-decoration: none;
        color: #D4AC0D;
        font-size: 1em;
    }
    header nav ul li a {
        font-family: 'Kanit', sans-serif;
        text-decoration: none;
        margin: 1em;
        color: #D4AC0D;
        font-size: 1em;
    }
    .articulosHome {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .gridContenedor {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        grid-template-areas: 
            "head head head"
            "main main main"
            "nosotros nosotros nosotros"
            "novedades novedades novedades"
            "actividades actividades actividades"
            "publicidad publicidad publicidad"
            "pie pie pie";
    }
}
@media (min-width: 1200px) {
    .head ul li a {
        font-size: 1.2em;
    }
    .bannerMain h2 {
        font-size: 3em;
    }
    .bannerMain p {
        font-size: 1.5em;
    }
    .articulosHome {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .gridContenedor {
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(6,0.1fr);
        grid-template-areas:
            "head head head head"
            "main main main main"
            "nosotros nosotros nosotros actividades"
            "novedades novedades novedades actividades"
            "publicidad publicidad publicidad publicidad"
            "pie pie pie pie";
        grid-gap: 1em;
    }
}




/* HTML ACTIVIDADES */
#sectionActividades {
    font-family: 'Kanit', sans-serif;
    font-size: 3em;
    margin: 1em;
}
.cardsActividades {
    margin: 3em;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cardsActividades div h3 {
    font-family: 'Kanit', sans-serif;
    background-color:  black;
    color: #D4AC0D;
    white-space: pre-line;
    text-align:center;
    width:3em;
    font-size: 2em;
    padding-bottom: 2em;
}
.parrafoActividades {
    font-family: 'Kanit', sans-serif;
    font-size: 1.5em;
    margin: 1em;
}
.botonMasFotos {
    margin-bottom: 2em;
    text-align: center;
    background-color: #F7DC6F;
    width: 10%;
    margin: 2em auto;
    transform: scale(1,1);
}
.botonMasFotos:hover {
    transform: scale(1.2,1.2);
}
.botonMasFotos a {
    text-align: center;
    margin: 0 auto;
    font-size: 2em;
    font-family: 'Kanit', sans-serif;
    color: black;
    text-decoration: none;
}
.futbol {
    display: flex;
    flex-direction: row;   
}
.gym {
    display: flex;
    flex-direction: row;
}
.imagenPresentacion {
    width: 35%;
    margin:1em;
    border-radius: 2em;
    box-shadow: 5px 8px 12px black;
}
.padel {
    display: flex;
    flex-direction: row;
}



/* HTML SERVICIOS */
.cardsServicios {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.gridContainerServicios {
    max-width: 100%;
    display: grid;
    grid-gap: 2em;
}
.headServicios {
    grid-area: headServicios;
}
.tituloSection {
    grid-area: tituloSection;
}
.mainServicios {
    grid-area: mainServicios;
}
.evento {
    grid-area: evento;
}
.galeria {
    grid-area: galeria;
}
.pieServicios {
    grid-area: pieServicios;
}
.tituloSection h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 3em;
    text-align: center;
}
.titulosServicios {
    font-family: 'Kanit', sans-serif;
    color: #D4AC0D;
    font-size: 2em;
    background-color:black;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.5em;
    text-align: center;
}
.parrafoServicios {
    font-family: 'Kanit', sans-serif;
    font-size: 1.5em;
    margin: 1em;
}
.evento {
    padding-right: 2em;
}
.evento img {
    box-shadow: 5px 8px 12px black;
    transform: scale(1,1);
    transition: transform 300ms;
}
.evento img:hover {
    transform: scale(1.02,1);
}
/* GRID GALERIA */
.tituloGaleria{
    font-family: 'Kanit', sans-serif;
    color: #D4AC0D;
    font-size: 2em;
    padding-left: 1em;
    margin: 0.5em;
    background-color:black;
}
.gridContainerGaleria {
    width: 100%;
    display: grid;
    grid-auto-rows: 350px;
    padding: 4em;
    grid-gap: 1em;
}
.galeriaImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
    border-style: solid;
    border-color: #F7DC6F;
    transform: scale(1,1);
    transition: transform 500ms;
}
.galeriaImg:hover {
    transform: scale(1.04,1.04);
}
.gridItemGaleria1 {
    grid-area: img-1;
}
.gridItemGaleria2 {
    grid-area: img-2;
}
.gridItemGaleria3 {
    grid-area: img-3;
}
.gridItemGaleria4 {
    grid-area: img-4;
}
.gridItemGaleria5 {
    grid-area: img-5;
}
.gridItemGaleria6 {
    grid-area: img-6;
}
.gridItemGaleria7 {
    grid-area: img-7;
}
.gridItemGaleria8 {
    grid-area: img-8;
}
.gridItemGaleria9 {
    grid-area: img-9;
}
.gridItemGaleria10 {
    grid-area: img-10;
}
.gridItemGaleria11 {
    grid-area: img-11;
}
.gridItemGaleria12 {
    grid-area: img-12;
}
.gridItemGaleria13 {
    grid-area: img-13;
}
.gridItemGaleria14 {
    grid-area: img-14;
}

/* MEDIA QUERIES HTML SERVICIOS */
@media (min-width:576px) and (max-width: 767px){
    .mainServicios {
        display: flex;
        flex-direction: column;
    }
    aside {
        width: 75%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .headServicios {
        font-size: 1em;
    }
    .pieServicios {
        font-size: 1em;
    }
    .gridContainerGaleria {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "img-1"
            "img-2"
            "img-3"
            "img-4"
            "img-5"
            "img-6"
            "img-7"
            "img-8"
            "img-9"
            "img-10"
            "img-11"
            "img-12"
            "img-13"
            "img-14";
    }
    .gridContainerServicios {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "headServicios"
            "tituloSection"
            "mainServicios"
            "evento"
            "galeria"
            "pieServicios";
    }
}
@media (min-width: 768px) and (max-width: 1199px){
    .headServicios {
        font-size: 1em;
    }
    .pieServicios {
        font-size: 1em;
    }
    .mainServicios {
        font-size: 0.8em;
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        flex-wrap: wrap;
    }
    .cardsServicios {
        width: 350px;
        height: max-content;
    }
    .instalaciones {
        width: 90%
    }
    aside {
        width: 75%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .gridContainerGaleria {
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
            "img-1 img-1"
            "img-2 img-4"
            "img-3 img-4"
            "img-5 img-6"
            "img-9 img-7"
            "img-9 img-8"
            "img-10 img-11"
            "img-10 img-12"
            "img-13 img-14";
    }
    .gridContainerServicios {
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
            "headServicios headServicios"
            "tituloSection tituloSection"
            "mainServicios mainServicios"
            "evento evento"
            "galeria galeria"
            "pieServicios pieServicios";
    }
}
@media (min-width: 1200px) {
    .headServicios {
        font-size: 1em;
    }
    .pieServicios {
        font-size: 1em;
    }
    .mainServicios {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    aside {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .gridContainerGaleria {
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: 
            "img-1 img-1 img-2"
            "img-1 img-1 img-3"
            "img-6 img-6 img-4"
            "img-7 img-8 img-4"
            "img-9 img-11 img-10"
            "img-9 img-12 img-10"
            "img-5 img-5 img-13"
            "img-5 img-5 img-14";
    }
    .gridContainerServicios {
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: 
            "headServicios headServicios headServicios"
            "tituloSection tituloSection tituloSection"
            "mainServicios mainServicios evento"
            "mainServicios mainServicios evento"
            "galeria galeria galeria"
            "pieServicios pieServicios pieServicios";
    }



/* HTML PREGUNTAS FRECUENTES */
#sectionFaq {
    font-family: 'Kanit', sans-serif;
    font-size: 3em;
    margin: 1em;
}
.faq {
    margin: 2em;
}
.titulosFaq {
    font-family: 'Kanit', sans-serif;
    font-size: 2em;
}
.parrafosFaq {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2em;
}
main section article ul li {
    list-style-type: none;
}


/* HTML CONTACTO Y RESERVAS */
.sectionContactoReservas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#tituloContactoReservas {
    font-family: 'Kanit', sans-serif;
    font-size: 3em;
    margin: 1em;
}
.parrafoReserva {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2em;
    margin-left: 1em;
}
.formulario {
    font-family: 'Kanit', sans-serif;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    margin: 2em;
}
.otrosDatos {
    font-family: 'Kanit', sans-serif;
    font-size: 1.5em;
    margin-top: 8em;
    margin-bottom: 2em;
}
.mapa {
    margin-top: 2em;
}