$color-principal: #d4ac0d;
$color-secundario: black;
$color-terciario: white;
$color-4: #f7dc6f;
$decoration: none;
$tipo-lista: none;
$fuente-principal: "Kanit", sans-serif;
$tx-align: center;
$sombreado: 0px 4px 18px rgba(0, 0, 0, 0.45);
$hover: scale(1.2, 1.2);
$color-tarjeta: rgba(40, 28, 0, 0.68);
