$color-principal:#D4AC0D;
$color-secundario: black;
$color-terciario: white;
$color-4: #F7DC6F;
$decoration: none;
$tipo-lista: none;
$fuente-principal: 'Kanit', sans-serif;
$tx-align: center;
$sombreado: 5px 8px 12px black;
$hover: scale(1.2,1.2);